@page "/today"
@inject DistractionLogRepository LogsRepo
@inject DistractionTagRepository TagsRepo
@inject DistractionLogMapper LogsMapper
@inject DistractionTagMapper TagsMapper


<MudText Align="Align.Center" Typo="Typo.h2">@_todayDate.ToString("dd.MM.yyyy")</MudText>
<MudContainer MaxWidth="MaxWidth.Medium">
    @if(_models is not null)
    {
        @foreach(var viewModel in _logViewModels)
        {
            <MudText>TIME: @viewModel.TimeOfCreation</MudText>
            <MudText>NOTES: @viewModel.Notes</MudText>
            @foreach(var tag in viewModel.Tags)
            {
                <DistractionTagChip ChipColor="@tag.Color", ChipIcon="@tag.Icon"></DistractionTagChip>
            }
        }
    }

</MudContainer>
<h3>TodayLogs</h3>

@code {
    private List<DistractionLogModel> _models;
    private List<DistractionLogViewModel> _logViewModels;
    private DateTime _todayDate;

    protected override async Task OnInitializedAsync()
    {
        _todayDate = DateTime.Now.Date;
        _models = await LogsRepo.GetTodayLogsAsync();
    }

    private async Task DeleteLog(DistractionLogModel modelToDelete)
    {
        await LogsRepo.DeleteLogAsync(modelToDelete);
        _models.Remove(modelToDelete);
        StateHasChanged();
    }
}
